.dashboard-header {
	margin-bottom: 0;

	text-align: center;
	font-size: 7.5em;

	user-select: none;

	transition: font-size 0.5s;
}

.dashboard-subheader {
	margin-top: 0;

	text-align: center;
	font-size: 2em;

	user-select: none;

	transition: font-size 0.5s;
}

.dashboard-links {
	margin: 5% 25% 0 25%;
	display: grid;
	columns: 1;
}

.dashboard-link {
	padding: 5%;
	margin-bottom: 2%;
	border: 2px solid blue;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);

	text-align: center;
	text-decoration: none;
	color: blue;
	font-size: 2em;

	transition: background-color 0.25s, color 0.25s, font-size 0.5s,
		padding 0.5s;
}
.dashboard-link:hover {
	border-color: purple;
	color: purple;

	transition: border-color 0.25s, color 0.25s;
}

.secret-tooltip:hover {
	cursor: help;
}

/* Vertical resizing */
@media (max-height: 900px) {
	.dashboard-link {
		padding: 2.5%;

		transition: font-size 0.5s, padding 0.5s;
	}
}

@media (max-height: 800px) {
	.dashboard-link {
		padding: 1.5%;

		transition: font-size 0.5s, padding 0.5s;
	}
}

@media (max-height: 700px) {
	.dashboard-link {
		padding: 0.5%;

		transition: font-size 0.5s, padding 0.5s;
	}
}

/* 1800px screens */
@media (max-width: 1800px) or (max-height: 900px) {
	.dashboard-header {
		font-size: 6.5em;

		transition: font-size 0.5s;
	}

	.dashboard-subheader {
		font-size: 1.75em;

		transition: font-size 0.5s;
	}

	.dashboard-link {
		padding-right: 0;
		padding-left: 0;
		font-size: 1.75em;

		transition: font-size 0.5s, padding 0.5s;
	}
}

/* HD+ screens */
@media (max-width: 1600px) or (max-height: 800px) {
	.dashboard-header {
		font-size: 6em;

		transition: font-size 0.5s;
	}

	.dashboard-subheader {
		font-size: 1.5em;

		transition: font-size 0.5s;
	}

	.dashboard-link {
		padding-right: 0;
		padding-left: 0;
		font-size: 1.5em;

		transition: font-size 0.5s, padding 0.5s;
	}
}

/* Macbook Air sized screens */
@media (max-width: 1366px) or (max-height: 720px) {
	.dashboard-header {
		font-size: 4em;

		transition: font-size 0.5s;
	}

	.dashboard-subheader {
		font-size: 1em;

		transition: font-size 0.5s;
	}

	.dashboard-link {
		padding-right: 0;
		padding-left: 0;
		font-size: 1em;

		transition: font-size 0.5s, padding 0.5s;
	}
}
